<h1>Master Units</h1>
<p *ngIf="!empList"><em>Loading...</em></p>
<table class='table' *ngIf="unitList">
    <thead>
        <tr>
            <th>Name</th>
            <th>Is Online</th>
            <th>Owner</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of unitList">
            <td>{{ emp.customName }}</td>
            <td>{{ emp.isOn }}</td>
            <td>{{ emp.ownerId }}</td>
            <td [routerLinkActive]="['link-active']">
                <a [routerLink]="['/masterunitupdater', emp.id]">
                    <span class='glyphicon glyphicon-cog'></span> Modify
                </a>
            </td>
        </tr>
    </tbody>
</table>
<li [routerLinkActive]="['link-active']">
    <a [routerLink]="['/masterunitcreator']">
        <span class='glyphicon glyphicon-plus-sign'></span> Create new unit
    </a>
</li>
