@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <h3>LEGO Smart Home Project</h3><br />
    <strong>Project Manager:</strong> Schantzl Richárd<br />
    e-mail: <a href="mailto:schantzl.richard@gmail.com">schantzl.richard@gmail.com</a><br />
    <abbr title="Phone">P:</abbr>
    +36-30-781-3093<br />
    <strong>Lead Software Architect:</strong> Zsiga Tibor<br />
    e-mail: <a href="mailto:tibor.zsiga94@gmail.com">tibor.zsiga94@gmail.com</a><br />
    <strong>Lead Hardware Designre:</strong> Losonczi Csaba<br />
    e-mail: <a href="mailto:csabesz096@gmail.com">csabesz096@gmail.com</a><br />
</address>